@import url(fonts-color.css);




.home-main{
    flex-grow: 1;
}


.waves{
    transform: rotateX(-180deg);
    position: absolute;
    bottom: 0;
    
    left: 0;
    width: 100%;
    
}

.home-main .container{
    display: flex;
    font-display: row;
}

.container .call-to-action{
    flex-grow: .5;
}

.container .boards{
    flex-grow: .5;
    z-index: 100;
    height: 100px;
    background-color: transparent;
    min-height: 82vh;
    min-width: 40vw;
    max-width: 70vw;
    border-radius: 20px;
    transform: translate(20%, 0%);
 
}



.lowerboard{
	background-color: var(--themeblue);
	z-index: 200;
	position: relative;
	min-height: 82vh;
	transform: rotate(5deg);
    max-width: 70vh;
    border-radius: 20px;
    box-shadow: 2px 4px 14px 0px #2a2a2a;
}

.upperboard{
	background-color: var(--waveColor);
	z-index: 200;
	position: relative;
	transform: rotate(-5deg);
	min-height: 82vh;
    max-width: 70vh;
    border-radius: 20px;
    box-shadow: 2px 4px 14px 0px #2a2a2a;
}


.upperboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.custom-list{
    display: flex;
    flex-direction: row;
    margin: 1em 0;
}

.custom-list .check-icon{
    width: 20px;
    color: var(--themeblue);
}

.custom-list p{
    margin: 0 .5em;
}



.call-to-action{
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1000;
}

.call-to-action .info-title{
    color: rgb(211, 211, 211);
}

.call-to-action .info-title::after{
    content: "";
    display: block;
    height: .15em;
    margin-top: .2em;
    width: 15%;
    transition: .3s;
    background-color: var(--themeblue);
}



.call-to-action .info{
    font-family: inherit;
    font-weight: 500;
}

.name{
    font-family: Ubuntu;
    font-size: 1.5em;
}

.call-to-action a.social-icons{
    text-decoration: none;
    color: white;
    margin-right: 1em;
    font-size: 1.5em;
}

.portfolio-btn{
    cursor: pointer;
    background-color: var(--themeblue);
    margin: 4% 0;
    display: inline-block;
    padding: 10px 40px;
}

.portfolio-btn:hover{
    background-color: #12679a;
}

.cv-btn{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--themeblue);
    color: var(--themeblue);
    margin: 4% 4px;
    display: inline-block;
    padding: 9px 30px;
}

.cv-btn:hover{
    background-color: #12679a;
    border: 1px solid #12679a;
    transition: 0.25s;
    color: white;
}




@media screen and (max-width: 900px){

    .container .boards{
        display: none;
    }


    .call-to-action{
        margin-top: 4em;
    }

    .home-main .container{
        flex-direction: column;
    }


}