@import url(responsive-setup.css);
@import url(fonts-color.css);


.container .page-name{
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.container .page-name:after{
    content: "";
    display: block;
    text-align: center;
    height: .15em;
    width: 5%;
    margin: .4em auto;
    transition: .3s;
    background-color: var(--themeblue);
}


.container .page-description{
    color: #d3d3d3;
    text-align: center;
}



#filter-btn-group{
    text-align: center;
}



.filter-btn{
    background: transparent;
    color: var(--themeblue);
    border: 2px solid var(--themeblue);
    border-radius: 30px;
    padding: .5em 1em;
    margin: .3em .1em;
}

.filter-btn .check{
    display: none;
}

.filter-btn.active{
    background: var(--themeblue);
    color: white;
}

.filter-btn:hover{
    background: rgba(0, 174, 255, 0.4);
    color: white;
}

.column{
    padding: .5em;
    display: none;
}

.content {
    background-color: var(--waveColor);
    padding: 10px;
    box-shadow: 2px 2px 10px 0.5px #262626;
  }

.content p.name{
    color: white;
}

.content p.type{
    color: var(--themeblue);
    font-style: normal;
    font-size: .7em;
}

.content > hr{
    border: 0;
    height: 1px;
    margin: .6em 5%; 
    background: rgba(128, 128, 128, 0.5);
}

.content p.description{
    font-size: .8em;
    color: rgb(228, 228, 228);
}



@media screen and (max-width: 900px){

    .container .page-name:after{
        width: 20%;
    }
    


}