# start modifications

RewriteEngine on

# if folder exists corresponding to link exist, ignore this modifications
# d means directory, f means file

RewriteCond %{REQUEST_FILENAME} !-d

# check if file exists in directory after attaching html extension

RewriteCond %{REQUEST_FILENAME}\.html -f

# show the page gotten from above rule if exists
#  the caret sign (^), indicates regex,  NC means no cases to allow upper case and lower case in links url, L means the above rules would only apply for this particular rule, sort of BREAK in java and js


RewriteRule ^(.*)$ $1.html [NC,L]

Redirect https://jesulonimii.me/index https://jesulonimii.me/

RewriteCond %{HTTP_HOST} ^www.jesulonimii.me
RewriteRule (.*) https://jesulonimii.me/$1 [R=301,L]
